{% extends '::base.html.twig' %}

{% block body %}
    <h2>Mot de passe oublié ?</h2>

    <p>Vous avez fait une demande de changement du mot de passe pour votre compte {{ website_name }}. Suite à ce
        changement, vous pourrez
        vous reconnecter avec le nouveau mot de passe enregistré.</p>

    <div class="row">
        <div class="col-md-4">
            {{ form_start(form) }}
            <div class="form-group">
                Changer le mot de passe du compte : <strong>{{ user.username }}</strong>
            </div>

            {{ form_rest(form) }}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Modifier mon mot de passe</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
